.commentsWrapper{
    min-width: 230px;
    width: 200px;
}

.commentsWrapper textarea{
    width: 100%;
    resize: none;
    height: 100%;
    background: rgba(255, 255, 255, 0.60);
    border: none;
    padding: 16px;
    outline: none;
    color: #291161;
    font-size: 16px;
}

.commentsWrapperTop{
    padding: 12px 16px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: #291161;
    background: #FFFFFF;
}
.commentsWrapperButton{
    border: none;
    background: rgba(255, 255, 255, 0.60);
    color: #7B43F2;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 4px 0;
    align-items: center;
    justify-content: center;
    gap: 4px;
    display: none;
}
.commentsWrapper:focus-within .commentsWrapperButton {
    display: inline-flex;
}
.commentsWrapperButton:focus-visible{
    outline: 2px solid #7B43F2;
    outline-offset: 2px;
}
.commentsWrapperButtonIcon{
    width: 17px;
    height: 18px;
}