.conclusionContent{
  min-width: 50%;
  width: 50%;
  padding: 12px;
  overflow: auto;
  border-right: 1px solid #EFECF8;
}
.conclusionFormGroup{
  margin-bottom: 16px;
}
.conclusionFormGroupLabel{
  color:  #B1A1DA;
  font-weight: 400;
  margin-bottom: 6px;
}
.conclusionFormGroupInput{
    border: 1px solid #fff;
    padding: 16px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.60);
    width: 100%;
}
.conclusionBottom{
  color: #7B43F2;
  font-weight: 400;
}
.conclusionActionBottom{
width: 205px;
height: 64px;
padding: 20px 26px;
border: none;
font-size: 18px;
line-height: 24px;
font-weight: 800;
background: #7527B2;
color: #FFFFFF;
border-radius: 20px;
cursor: pointer;
transition: background .2s, color .2s;
text-align: center;
align-content: center;
margin: 20px 0;
}
.conclusionTop{
  margin-bottom: 18px;
}
.conclusionTopLabel{
  color: #5B4296;
  font-weight: 800;
}
.conclusionTopDate{
  color: #5B4296;
  font-size: 14px;
  font-weight: 400;
}

.conclusionSecondOpinion{
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.glassWrapperLabel {
  font-size: 16px;
  line-height: 20px;
  color: #B1A1DA;
  margin-bottom: 16px;
}

.conclusionFormGroupInput.custom-scroll::-webkit-scrollbar-track {
    margin: 20px;
}

.glassContent.df.custom-scroll::-webkit-scrollbar-track {
    margin-bottom: 20px;
}
