.lab-header-wrapper{
    min-height: 190px;
}


.specimenWrapper{
    width: 112px;
    min-width: 112px;
    border-right:1px solid #eeecf8;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 58px;
}
.specimenPlaceholder{
    padding: 16px 12px;
    background: #FFF;
    height: 190px;
}

.specimenItem{
    height: 159px;
    min-height: 159px;
    padding: 12px 10px;
    width: 112px;
    border: 1px solid #EFECF8;
    border-bottom:1px solid #eeecf8;
}
.specimenItem.active{
    border: 2px solid #7527B2;
}
.specimenItemBottom{
    gap: 8px;
    margin-top: 10px;
}
.specimenItems{
    overflow: hidden;
    flex: 1;
}



.glassMark{
    margin-bottom: 8px;
    position: relative;
}
.glassPlaceholder{
    padding: 12px 8px;
    background: #FFF;
    height: 124px;
    border-bottom: 1px solid #eeecf8;
}
.glassItem{
    width: 86px;
    min-width: 86px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.glassItemContent{
    flex: 0 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0 8px;
    background: #FFFFFF;
    border: 2px solid #88C6FF;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    margin-bottom: -2px;
}
.glassItemFooter{
    flex: 0 0 18px;
    background: #88C6FF;
    border: 2px solid #88C6FF;
    border-top: 0;
    border-radius: 0 0 6px 6px;
}
.glassItemPicker{
    display: flex;
    align-items: center;
    gap: 4px;
}

.glassItemPaint{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.glassItemPaint img{
    width: 20px;
    height: 20px;
}
.glassItems{
    padding: 12px 6px;
    gap: 12px;
    height: calc(100% - 124px - 159px);
    overflow: hidden;
}


.cassettePlaceholder{
    padding: 16px 11px;
    background: #FFF;
    height: 159px;
    width: 104px;
    min-width: 104px;
}
.cassetteItem{
    padding: 12px 6px;
    height: 159px;
    font-weight: 700;
    border-bottom: 1px solid #eeecf8;
}
.cassetteColumn{
    border-left: 1px solid #eeecf8;
}
.cassetteItemImg{
    position: relative;
    cursor: pointer;
}
.cassetteAction{
    position: absolute;
    bottom: 4px;
    width: 100%;
    padding: 0 4px;
}
.cassetteWrapper{
    color: #5B4296;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-right: 58px;
    padding-bottom: 58px;
}
#cassetteItems{
    overflow: hidden;
}


.casePlate{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: #5B4296;
    padding: 6px 10.5px 4px;
    min-height: 32px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    border: 1px solid #ffffff;
}
.casePlate.active{
    background: rgba(255, 255, 255, 0.60);
    border: 1px solid #5B4296;
    border-radius: 6px;
}
#parentMark .casePlate{
    min-width: 42.5px;
}
#parentMark{
    margin-bottom: 10px;
    margin-top: 8px;
}
#childMark{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
}
#childMark .casePlate{
    min-width: auto;
    padding: 6px 10.5px 4px;
}
.caseItem{
    cursor: pointer;
    padding: 12px;
    height: 159px;
    min-height: 159px;
    width: 159px;
    box-sizing: border-box;
    border: 1px solid #EFECF8;
    border-left: none;
    background: #FFF;
}

.caseItem.active{
    border: 2px solid #7527B2;
    border-left: 2px solid #7527B2;
}
.caseItemTop{
    margin-bottom: 10px;
}
.caseItemBottom{
    gap: 8px;
}
.caseItemDate{
    font-size: 14px;
    color: #5B4296;
    font-weight: 400;
    margin-bottom: 8px;
}
.caseItemImgCount{
    position: absolute;
    top: 33px;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: white;
    pointer-events: none;
}
.caseItemMark{
    margin-top: 8px;
    font-weight: 800;
    color: #5B4296;
    font-size: 15px;
}
.caseItemImg{
    width: 50px;
    position: relative;
    margin-right: 8px;
}

.caseWrapper{
    width: 160px;
    min-width: 160px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 58px;
    background: #FFF;
    border-radius: 20px;
}

.casePlaceholder{
    padding: 16px 12px;
    background: #FFF;
    height: 190px;
    border: 1px solid #eeecf8;
    border-top-left-radius: 20px;
    border-bottom: 1px solid #eeecf8;
}
.cassettePlaceholder .counter{
    margin-bottom: 8px;
    justify-content: space-between;
    width: 100%;
}
.glassPlaceholder .counter{
    justify-content: space-between;
    width: 100%;
}
.caseItems{
    flex: 1;
    overflow: hidden;
    border-right:1px solid #eeecf8;
    background: #FFF;
    padding: 0 0 12px;
    align-items: stretch;
}
.cassetteCommentsArea{
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #FFF;
    resize: none;
    width: 100%;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.60);
    color: #5B4296;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}

.contentCassette{
    flex: 1;
    overflow: hidden;
    border-top: 1px solid #eeecf8;
}

.cassetteCommentsArea::placeholder{
    color: #B1A1DA;
}

.glassPicker{
    position: fixed;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 1);
    z-index: 1;
    overflow: auto;
}
.glassPickerList{
    padding: 8px 12px;
    color: #5B4296;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 12px;
}
.glassPickerList.active{
    background: #EFECF8;
}
