.layout {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   min-height: 100vh;
   gap: 24px;
   background: #EFECF8;
}

.profile-wrapper {
   margin-bottom: 24px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 6px
}

.profile {
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background: url("https://randomuser.me/api/portraits/men/32.jpg") center/cover no-repeat
}

.main {
   height: 100vh;
   padding: 30px;
   display: flex;
   flex-direction: column;
   gap: 24px;
   overflow: visible;
}

.search {
   flex: 1;
   position: relative
}

.search input {
   width: 100%;
   height: 52px;
   padding: 0 52px;
   border-radius: 8px;
   border: 1px solid #e4e6f0;
   background: #ffffff;
   font-size: 15px
}

.search svg {
   position: absolute;
   left: 20px;
   top: 50%;
   transform: translateY(-50%);
   pointer-events: none;
   stroke: #5B4296;
   stroke-width: 2;
   fill: none;
   width: 20px;
   height: 20px
}

.icon-circle span {
   display: block;
   transform: translateY(-1px)
}

.companies_card {
   border: 1px solid #FFF;
   background: rgba(255, 255, 255, 0.40);
   border-radius: 24px;
   padding: 0;
   box-shadow: 0 6px 12px rgba(0, 0, 0, .03);
   display: flex;
   flex-direction: column;
   flex: 1;
   overflow: hidden;
   position: relative;
}


.table-wrapper {
   position: relative;
   overflow: auto;
}

.companies_card::before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   width: 24px;
   height: 60px;
   background: #fff;
   border-top-right-radius: 24px;
   z-index: 2;
   pointer-events: none;
}

.table-wrapper table {
   width: 100%;
   border-collapse: separate;
   font-size: 16px;
   border-radius: 24px 24px 0 0;
   height: 100%;
   color: #291161;
}

.table-wrapper table thead {
   position: sticky;
   top: 0;
}

.table-wrapper thead th {
   min-height: 60px;
   height: 60px !important;
   max-height: 60px;
   background: rgba(255, 255, 255);
   text-align: left;
   align-content: center;
   color: #5B4296;
   padding: 14px 16px;
   cursor: pointer;
}

tbody tr {
   border-bottom: 1px solid #e4e6f0;
   cursor: pointer;
   height: 70;
}

tbody tr:hover {
   background: rgba(0, 0, 0, .02)
}

tbody td {
   padding: 18px 16px;
   vertical-align: middle;
   background: transparent;
   height: 100%;
}

.avatar {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 12px
}

.footer {
   padding: 12px 16px;
   font-size: 18px;
   color: #5B4296;
   font-weight: 700;
   background: #f5f4fb;
   margin-top: auto;
}

/* Закргулить верхние края таблицы */
.companies_card table {
   border-collapse: separate;
   border-radius: 24px 24px 0 0;
}

.close:hover svg {
   background: #EAE9ED;
   border: none;
   outline: none;
}

.table-wrapper::-webkit-scrollbar-track {
   margin-top: 60px;
}

.status {
   width: 250px;
   display: inline-flex;
   align-items: center;
   justify-content: space-between;
}

.status-container {
   width: fit-content;
   padding: 6px 12px 6px 10px;
   background: rgba(255, 255, 255, 0.6);
   border: 1px solid #fff;
   border-radius: 36px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.status-dot {
   width: 10px !important;
   height: 10px !important;
   border-radius: 50% !important;
   flex-shrink: 0 !important;
}

.status-menu-btn {
   border: none;
   background: transparent;
   padding: 0;
   margin-left: 8px;
   /* як у макеті */
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

.status-menu-btn svg {
   display: block;
}

.action {
   height: 24px;
}

/* Для правок
td{
   border-bottom: 1px solid;
   border-right: 1px solid;
} */

table th, table td {
   min-width: fit-content;
}

table th:nth-child(1),
table td:nth-child(1) {
   width: 140px;
}

table th:nth-child(2),
table td:nth-child(2),
table th:nth-child(3),
table td:nth-child(3) {
   width: 350px;
}

table th:nth-child(4),
table td:nth-child(4) {
   width: 200px;
}

table th:nth-child(5),
table td:nth-child(5) {
   width: 250px;
}

table th:nth-child(7),
table td:nth-child(7),
table th:nth-child(8),
table td:nth-child(8) {
   width: 100px;
}

table th:nth-child(9),
table td:nth-child(9),
table th:nth-child(10),
table td:nth-child(10) {
   min-width: 125px;
}

table th:nth-child(11),
table td:nth-child(11) {
   min-width: 185px;
}

table th:nth-child(13),
table td:nth-child(13) {
   width: 280px;
}

#sortIcon {
   font-size: 18px;
   line-height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.actions-menu {
   display: none;
   max-width: fit-content;
   width: 157px;
   padding: 8px;
   border-radius: 8px;
   background: #FEFCFB;
   box-shadow: 0 4px 12px rgba(0, 0, 0, .06);
   position: absolute;
   z-index: 9001;
}

.actions-menu.visible {
   display: block;
}

.actions-button {
   padding: 8px;
   padding-bottom: 6px;
   border-radius: 8px;
   color: #5B4296;
}

.actions-button button {
   display: flex;
   flex-direction: row;
   gap: 6px;
   align-items: center;
   border: none;
   background: none;
   padding: 0;
   margin: 0;
   color: #5B4296;
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;
}

.actions-button svg {
   height: 18px !important;
   flex-shrink: 0 !important;
}

#delete_company {
   color: #DF1125;
}

.actions-button:hover {
   background: #EFECF8;
   cursor: pointer;
}

#blockModal,
#unblockModal,
#deleteModal {
   width: 660px;
   height: 378px;
   gap: 28px;
   padding: 40px 30px;
   display: none;
}

.exclamation-mark {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   background: #fff;
   display: flex;
   flex-shrink: 0;
   align-items: center;
   justify-content: center;
   position: relative;
}

.excl {
   position: absolute;
   top: 33.25px;
   left: 38.4px;
}

.text-modal-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
   color: #584296;
   text-align: center;
}

.header-modal {
   font-size: 24px;
   line-height: 30px;
   font-weight: 600;
   text-align: center;
}

.text-modal {
   font-size: 18px;
   line-height: 24px;
   font-weight: 400;
}

.buttons-modal {
   width: fit-content;
   min-width: 600px;
   height: 64px;
   display: flex;
   justify-content: space-between;
   gap: 12px;
}

.buttons-modal button {
   width: 294px;
   padding: 20px 26px;
   border: 1px solid #7527B2;
   border-radius: 20px;
   font-size: 18px;
   line-height: 24px;
   cursor: pointer;
}

.unblockBtn,
.blockBtn,
.deleteBtn,
.submitBtn,
.applyBtn.enable {
   color: #fff;
   background: #7527B2;
   font-weight: 600;
   pointer-events: all;
}

.cancelBtn,
.rejectBtn,
.resetLimitBtn.enable {
   color: #7527B2;
   background: #fff;
   font-weight: 500;
   pointer-events: all;
}

#limitModal {
   width: 660px;
   height: fit-content;
   max-height: 90%;
   padding: 16px 16px 40px 16px;
   gap: 28px;
   display: none;
}

.limit-container {
   width: 600px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 16px;
   align-items: center;
}

.company_name_label,
.company_name {
   flex: 1;
   font-size: 16px;
   line-height: 20px;
   text-align: left;
}

.company_name {
   text-align: right;
}

#limitModal label {
   margin-bottom: 4px;
   color: #B1A1DA;
   font-size: 16px;
   line-height: 20px;
   font-weight: 400;
}

.form-limit-modal {
   display: flex;
   flex-direction: column;
}

.time-grid {
   min-width: 600px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 16px;
}

.time-grid .storage-option {
   padding: 16px;
   width: 100%;
   min-height: 56px;
}

input.currency {
   min-width: 600px;
   min-height: 56px;
   padding: 16px;
   background: rgba(255, 255, 255, 0.60);
   border: 1px solid #fff;
   border-radius: 20px;
   outline: none !important;
   font-size: 18px;
   line-height: 24px;
   font-weight: 400;
}

::placeholder {
   color: #B1A1DA;
   opacity: 1;
}

/* Для браузерів, що послуговуються `:-ms-input-placeholder` */
:-ms-input-placeholder {
   color: #B1A1DA;
}

.applyBtn,
.resetLimitBtn {
   border-color: #D2CAE8 !important;
   pointer-events: none;
}

.resetLimitBtn {
   color: #D2CAE8;
   background: rgba(255, 255, 255, 0.6);
   font-weight: 500;
}

.applyBtn {
   color: #fff;
   background: #D2CAE8;
   font-weight: 600;
}

#infoModal {
   min-width: 660px;
   height: 671px;
   max-height: fit-content;
   padding: 16px 16px 40px 16px;
   gap: 28px;
   display: none;
}

#infoModal h1 {
   font-size: 24px;
   line-height: 30px;
}

.info-container {
   min-width: 600px;
   height: fit-content;
   padding: 20px;
   border: 1px solid #fff;
   border-radius: 20px;
   background: rgba(255, 255, 255, 0.40);
}

.info-field {
   row-gap: 4px;
   padding: 12px 0;
   font-size: 16px;
   line-height: 20px;
   font-weight: 400;
   position: relative;
}

.info-field:not(:first-child)::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   height: 1px;
   background: radial-gradient(circle, rgba(171, 119, 235, 0.5), rgba(171, 119, 235, 0));
}

.info-field:first-child {
   padding-top: 0;
}

.info-field:last-child {
   padding-bottom: 0;
}

.info-field div:first-child {
   color: #B1A1DA;
}

.info-field div:last-child {
   color: #5B4296;
}

.modal-backdrop {
   position: fixed;
   inset: 0;
   background: rgba(54, 41, 84, 0.5);
   z-index: 8900;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.2s ease;
}

.modal.active+.modal-backdrop {
   opacity: 1;
   pointer-events: auto;
}

#unblockModal.active,
#blockModal.active,
#deleteModal.active,
#limitModal.active,
#infoModal.active {
   display: flex;
   z-index: 100500;
   transform: translate(-50%, -50%) !important;
}