.doc_pages {
   width: 60%;
   margin: 0 auto;
   background-color: #fff;
   border-radius: 20px;
}

.field {
   display: flex;
   justify-content: space-between;
   padding: 8px 42px;
}

.logo__image {
   display: flex;
   margin: 8px auto;
}

section.page {
   padding: 16px;
   margin: 16px 16px 0px 16px;
}

.status-dot {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   flex-shrink: 0;
}

span.status-container {
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   gap: 8px;
}

.meta-info {
   display: flex;
   align-items: center;
   gap: 0;
   margin-right: auto !important;
   margin-left: unset;
   color: #291161;
   font-size: 18px;
   font-weight: 800;
}