.specificMedItem{
    padding: 12px;
    cursor: pointer;
    color: #5B4296;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #EFECF8;
}

.specificMedItem.active{
    border: 2px solid #7527B2;
}

.personalInfoBlock{
    padding: 12px;
    position: relative;
}

.personalInfoBlock:before{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    height: 1px;
    border-radius: 23px;
    background: linear-gradient(90deg, rgba(171, 119, 235, 0.00) 0%, rgba(171, 119, 235, 0.50) 50.27%, rgba(171, 119, 235, 0.00) 100%);
    width: 100%;
}

.personalInfoBlock:last-child:before{
    display: none;
}

.personalInfoBlockKey{
    color: #B1A1DA;
    margin-bottom: 6px;
}
.personalInfoBlockValue{
    color: #5B4296;
    line-height: 20px;
}

.centralItem{
    white-space: nowrap;
    width: calc(100% / 7);
    padding: 12px;
    min-width: 140px;
    color:#B1A1DA;
    font-size: 18px;
    font-weight: 400;
    border-right: 1px solid #EFECF8;
    height: 66px;
    display: flex;
    align-items: center;
}
.centralItem p{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.centralItem.active{
    background: #FFF;
    color: #291161;
    font-size: 18px;
    font-weight: 800;
}
.middle{
    width: calc(100%  - 255px - 256px) !important;
    min-width: 640px;
}
.middle .top{
    background: #f5f3fb;
    border-bottom: 1px solid #EFECF8;
    height: auto !important;
    padding: 0 !important;
}
.bottom{
    width: 100%;
}
.right{
    width: 256px;
    min-width: 256px;
}

.top.borderRadiusLeft.df.aic {
    border-bottom: 1px solid #EFECF8;
    height: 70.5px;
}

.df.custom-scroll::-webkit-scrollbar-track{
    background: #F5F3FB;
    border-radius: 0;
    border-bottom: 1px solid #EFECF8;
}

 .personalInfo.custom-scroll::-webkit-scrollbar-track{
    margin-bottom: 20px;
}

.glassPageContent.df.jcsb.custom-scroll::-webkit-scrollbar-track{
    margin: 20px;
}